:root {
  --background: #ffffff;
  --foreground: #171717;
  
  --cell-size: 80px;
  --board-color: #ffb74b;
  --active-color: oklch(from var(--board-color) calc(l * 1.20) c h);
  --piece-blue: #6dbeee;
  --piece-red: #d95034;
  --bombardment-size: 6px;
  --border-color: rgb(79, 72, 117);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #4b5a72;
  background: #d5b4b8;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: underline;
}

/* These are MINE:*/

.boardLogWrapper {
  display: flex;
  justify-content: center;
  transform: translatex(5%);
}

.bottomWrapper {
  display: flex;
  justify-content: center;
  line-height: 2;
}

.logComponent {
  background-color: var(--board-color);
  height: 640px;
  width: 300px;
  margin-left: 40px;
  margin-top: 117px;
  outline: solid 1px var(--border-color);
  overflow-y:auto;
  overflow-x:hidden;
}

.logPlaceholder {
  margin: 4px;
}

.logEntry {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 4px;
  border: solid 1px var(--border-color);
  margin: -1px;
}

.logEntry:hover{
  background-color: oklch(from var(--board-color) calc(l * 1.20) c h)
}

.board-wrapper {
  justify-items: center;
}

.board {
  
  display: grid;
  position:relative;
  grid-template-rows: repeat(8, var(--cell-size));
  grid-template-columns: repeat(8, var(--cell-size));
}

.tray {
  display: grid;
  grid-template-rows: var(--cell-size);
  grid-template-columns: repeat(7, var(--cell-size));
  outline-width: 0px;
  outline-offset: -1px;
  outline-color: var(--border-color);
  outline-style: solid;
}

.cell {
  outline: solid 1px var(--border-color);
  background-color: var(--board-color);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow:hidden;
  position:relative;
}

.cell img {
  width: 90%;
  height: 90%;
  position:absolute;
}

.actions {
  display: flex;
  flex-direction:column;
}

.endturn {
  position:relative;
  top: 10px;
  padding: 2px 4px;
  background-color: var(--border-color);
  border: none;
  color: white;
}

.endturn:hover {
  background-color: oklch(from var(--border-color) calc(l * 1.20) c h);
}

.circle {
  width: 25%;
  height: 25%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.activeSquare {
  background-color: var(--active-color);
}

.countText {
  position: relative;
  top: -35%;
  left: 40%;
  font-weight:bold;
}

.spentReserve img {
  filter:grayscale(100%) brightness(.75) contrast(2);
  opacity: .25;
}

.rotator {
  aspect-ratio: 1 / 1;
  width: 27px;
  background-color: rgb(255, 255, 255, 0);
  position: absolute;
  transform-origin: center;
}

.rotatorEffect {
  width: 90%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: dashed 1px rgb(0, 0, 0);
  position: absolute;
}

.crosshairs {
  position: absolute;
}

.victoryText {
  position:absolute;
  z-index: 10;
  transform-origin: center;
  top: calc(var(--cell-size) * 4);
  left: calc(var(--cell-size) * 4);
  transform:translate(-50%, -50%);
  font-size: 50px;
  color: white;
  text-shadow: 1px 1px 1px black;
  opacity: .5;
}

.pulse {
  animation: pulse 1.25s ease-in-out infinite;
}

.bloom {
  animation: bloom 4s infinite ease;
}

@keyframes pulse {
  0% {
    transform: scale(1);

  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes bloom {
  0%{
    outline-width: 1px;
    outline-offset: 0;
    outline-color: rgb(79, 72, 117, 0);
  }
  5% {
    outline-color: rgb(79, 72, 117, .75);
  }
  40% {
    outline-width: 6px;
    outline-offset: 8px;
    outline-color: rgba(255, 255, 255, 0)
  }
  100% {
    outline-width: 6px;
    outline-offset: 8px;
    outline-color: rgb(79, 72, 117, 0)
  }
}


.bombardmentred {
  --s: var(--bombardment-size);
  --c1: var(--board-color);
  --c2: var(--board-color);
  --c3: var(--piece-red);
  
  --_s: calc(2*var(--s)) calc(2*var(--s));
  --_g1: var(--_s) conic-gradient(at calc(500%/6) 50%,var(--c3) 25%,#0000 0);
  --_g2: var(--_s) conic-gradient(at calc(200%/3) 50%,var(--c2) 25%,#0000 0);
  background:
    var(--s) var(--s)/var(--_g1),0 0/var(--_g1),
    var(--s) var(--s)/var(--_g2),0 0/var(--_g2),
    repeating-conic-gradient(var(--c1) 0 25%,#0000 0 50%) 0 0/var(--_s),
    linear-gradient(var(--c1) calc(100%/3),var(--c2) 0 calc(200%/3),var(--c3) 0)
     0 0/var(--s) var(--s);
}

.bombardmentredlight {
  --s: var(--bombardment-size);
  --c1: var(--active-color);
  --c2: var(--active-color);
  --c3: var(--piece-red);
  
  --_s: calc(2*var(--s)) calc(2*var(--s));
  --_g1: var(--_s) conic-gradient(at calc(500%/6) 50%,var(--c3) 25%,#0000 0);
  --_g2: var(--_s) conic-gradient(at calc(200%/3) 50%,var(--c2) 25%,#0000 0);
  background:
    var(--s) var(--s)/var(--_g1),0 0/var(--_g1),
    var(--s) var(--s)/var(--_g2),0 0/var(--_g2),
    repeating-conic-gradient(var(--c1) 0 25%,#0000 0 50%) 0 0/var(--_s),
    linear-gradient(var(--c1) calc(100%/3),var(--c2) 0 calc(200%/3),var(--c3) 0)
     0 0/var(--s) var(--s);
}

.bombardmentblue {
  --s: var(--bombardment-size);
  --c1: var(--board-color);
  --c2: var(--board-color);
  --c3: var(--piece-blue);
  
  --_s: calc(2*var(--s)) calc(2*var(--s));
  --_g1: var(--_s) conic-gradient(at calc(500%/6) 50%,var(--c3) 25%,#0000 0);
  --_g2: var(--_s) conic-gradient(at calc(200%/3) 50%,var(--c2) 25%,#0000 0);
  background:
    var(--s) var(--s)/var(--_g1),0 0/var(--_g1),
    var(--s) var(--s)/var(--_g2),0 0/var(--_g2),
    repeating-conic-gradient(var(--c1) 0 25%,#0000 0 50%) 0 0/var(--_s),
    linear-gradient(var(--c1) calc(100%/3),var(--c2) 0 calc(200%/3),var(--c3) 0)
     0 0/var(--s) var(--s);
}

.bombardmentbluelight {
  --s: var(--bombardment-size);
  --c1: var(--active-color);
  --c2: var(--active-color);
  --c3: var(--piece-blue);
  
  --_s: calc(2*var(--s)) calc(2*var(--s));
  --_g1: var(--_s) conic-gradient(at calc(500%/6) 50%,var(--c3) 25%,#0000 0);
  --_g2: var(--_s) conic-gradient(at calc(200%/3) 50%,var(--c2) 25%,#0000 0);
  background:
    var(--s) var(--s)/var(--_g1),0 0/var(--_g1),
    var(--s) var(--s)/var(--_g2),0 0/var(--_g2),
    repeating-conic-gradient(var(--c1) 0 25%,#0000 0 50%) 0 0/var(--_s),
    linear-gradient(var(--c1) calc(100%/3),var(--c2) 0 calc(200%/3),var(--c3) 0)
     0 0/var(--s) var(--s);
}

.bombardmentboth {
  --s: var(--bombardment-size);
  --c1: var(--board-color);
  --c2: var(--piece-red);
  --c3: var(--piece-blue);
  
  --_s: calc(2*var(--s)) calc(2*var(--s));
  --_g1: var(--_s) conic-gradient(at calc(500%/6) 50%,var(--c3) 25%,#0000 0);
  --_g2: var(--_s) conic-gradient(at calc(200%/3) 50%,var(--c2) 25%,#0000 0);
  background:
    var(--s) var(--s)/var(--_g1),0 0/var(--_g1),
    var(--s) var(--s)/var(--_g2),0 0/var(--_g2),
    repeating-conic-gradient(var(--c1) 0 25%,#0000 0 50%) 0 0/var(--_s),
    linear-gradient(var(--c1) calc(100%/3),var(--c2) 0 calc(200%/3),var(--c3) 0)
     0 0/var(--s) var(--s);
}

.bombardmentbothlight {
  --s: var(--bombardment-size);
  --c1: var(--active-color);
  --c2: var(--piece-red);
  --c3: var(--piece-blue);
  
  --_s: calc(2*var(--s)) calc(2*var(--s));
  --_g1: var(--_s) conic-gradient(at calc(500%/6) 50%,var(--c3) 25%,#0000 0);
  --_g2: var(--_s) conic-gradient(at calc(200%/3) 50%,var(--c2) 25%,#0000 0);
  background:
    var(--s) var(--s)/var(--_g1),0 0/var(--_g1),
    var(--s) var(--s)/var(--_g2),0 0/var(--_g2),
    repeating-conic-gradient(var(--c1) 0 25%,#0000 0 50%) 0 0/var(--_s),
    linear-gradient(var(--c1) calc(100%/3),var(--c2) 0 calc(200%/3),var(--c3) 0)
     0 0/var(--s) var(--s);
}